lightning_logs/*
data/*
src/lightning_logs/*
src/__pycache__/*
tb_logs/*
Testing_/*
src/checkpoints/*
checkpoints/*
log_files.txt
settings.json
src/.neptune/*
.neptune/*
.vscode/*
reconstructions/*
imgs/*
profile/*
profile-old/*
*.pyc
src/TestModels/*
*.err
*.out
*log_files.txt
optuna_dbs/*
*last_run.txt